:root{
    --color-background: #4e84f8d0;
    --color-primary: #0051ff;
    --color-primary-light: #00a2ff;
    --color-letters-1: #ffffff;
    --color-background-light: #fffccd;
    --color-hover:#fffb00;    
}
header{
    width:100%;
}
.logo{

} 
video{
    width: 100%;
    position: sticky;

}
.first_content{
    background-color: var(--color-background-light);
    align-content: center;
}

.first_content h1{
    justify-self: center;
}
.img{
    width:90%;
    padding: 5%;
}
@media(max-width:600px){
    /* .logo{
        display: grid;
        grid-template-columns: 2fr 1fr;
    } */
